<p id="notice"><%= notice %></p>
<h2>Import Employees</h2>

<%= form_tag import_employees_path, multipart: true do %>
  <div class="field">
    <%= label_tag :company_id %>
    <%= select_tag("company_id", options_from_collection_for_select(Company.all, :id, :name))%>
  </div>
  <%= file_field_tag :file, id: 'csv_file', accept: 'text/csv',required: true %>
  <%= submit_tag "Import" %>
<% end %>
<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.company %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
<%= link_to 'Company List', companies_path %>
<%= link_to 'Policy List', policies_path %>
